.controls-board {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.controls-board--butons {
  display: flex;
  justify-content: center;

  @include breakpoint($min-desktop) {
    flex-direction: column;
  }
}

.controls-board--buton {
  margin-top: 30px;

  @include breakpoint($min-desktop) {
    margin-top: 100px;
  }
}

.controls-board--status {
  margin-top: 30px;
  font-size: 30px;
  font-weight: bold;
  color: $red-color;

  &.is-won {
    color: $green-color;
  }
}

.controls-board--status-title {
  margin-bottom: 30px;
}

.controls-board--status-text {
  font-size: 18px;
  color: $text-color;
}

.controls-board--code {
  display: inline-flex;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 50%;
}