.primary-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    min-width: 120px;
    padding: 8px 10px;
    outline: none;
    appearance: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    color: $blue-color;
    background-color: $light-color;
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
    transition: all .3s ease;

    &:hover {
        color: $light-color;
        background-color: $text-color;
    }
}

.secondary-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    background-color: $light-color;
    border: none;
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: 0 0 2px 0px $text-color;

    &:disabled {
        cursor: auto;
        opacity: .4;
    }
}