html,
body {
  margin: 0;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  color: $text-color;
  background-color: $grey-color;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

#app {
  padding: 50px 0;
  height: 100%;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.container {
  max-width: 960px;
  padding: 0 15px;
  margin: 0 auto;
}

.board-coantainer {
  display: block;

  @include breakpoint($min-desktop) {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
}

img {
  display: block;
}

.icon {
  width: 1em;
  height: auto;
}