html,
body {
  height: 100%;
  margin: 0;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

#app {
  height: 100%;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  color: #2C3E50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

img {
  display: block;
}